#main-container {
  width: 75%;
  margin: 1em;
}

h1 {
  color: #312f2f7c;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 50px;
}

.button {
  display: inline-block;
  background-color: #6f6259;
  border-color: #6f6259;
  color: white;
  font-family: Arial;
  max-width: 100%;
  min-width: 420px;
}

p.generated-content {
  margin: 20px 0;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 100%;
  min-width: 420px;
}

img {
  border-radius: 4px;
  max-width: 100%;
  min-width: 420px;
}

a {
  background: linear-gradient(to bottom, #f1bf73 0%, #f1bf73 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 2px;
  color: #000;
  transition: background-size 0.2s;
}

a:hover {
  background-size: 100% 100%;
}
