#main-container {
  width: 80%;
}

h1 {
  color: #312f2f7c;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 50px;
}

.button {
  background-color: #6f6259;
  border-color: #6f6259;
  color: white;
  font-family: Arial;
  margin: 20px 0;
}

p.generated-content {
  margin: 20px 0;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
}

img {
  border-radius: 4px;
  width: 800px;
}

.row {
  display: flex;
  margin: 20px;
}

.column {
  flex: 50%;
}

a {
  background: linear-gradient(to bottom, #f1bf73 0%, #f1bf73 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 6px 2px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}

a:hover {
  background-size: 6px 100%;
}
